<%= form_for :session, url: session_path do |form| %>
<div class="container">
  <form class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
      <%= form.label :email, :class => 'sr-only' %>
      <%= form.text_field :email, :class => 'form-control', :placeholder => 'Email', autofocus: true, type: 'email'  %>
      <%= form.label :password, :class => 'sr-only' %>
      <%= form.password_field :password, :class => 'form-control', :placeholder => 'Password' %>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
   <%= form.submit({:class => 'btn btn-default'}) %>
  </form>
  <div class="other-links">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path %>
    <% end %>
    <%= link_to t(".forgot_password"), new_password_path %>
  </div>
</div>
<% end %>